{% extends "layout.html" %}
{% block content %}
<style>
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #000;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#loader{
    height: 100vh;
    width: 100vw;
    z-index: 99;
    background-color: #9fdbff;
    display: grid;
    place-items: center;
}
#content{
    display: none;
}
</style>

<body background="{{ url_for('static', filename = 'submit.jpeg') }}"
    style="background-repeat: no-repeat; background-size:cover">
    <div id="loader">
        <h1 class="text-center text-black">
            Loading...
        </h1>
        <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div id="content" class="p-5">
        <h1 style="font-family: Oswald;
            font-style: normal;
            font-weight: bold;
            font-size: 62px;
            line-height: 92px;
            text-align: center;">
            Caption formed is:
        </h1>
        <div style="font-family: Oswald;
            font-style: normal;
            font-weight: bold;
            font-size: 62px;
            line-height: 92px;
            text-align: center;
            padding-left: 20px;"
        >
        <img src="{{ url_for('static', filename = 'testImage1.jpg') }}" alt="Image inputted">
            <h1 style="width: auto;
                height: 97px;
                left: 785px;
                top: 491px;

                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 48px;
                line-height: 65px;
                text-align: center;

                color: #000000;">
                {{ generated_caption }}
            </h1>
        </div>
    </div>
</body>
<script>
    $('#loader').delay(2000).hide(500);
    $('#content').delay(2000).show(500);
</script>
{% endblock content %}