<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title> CaptionIt!: {{ title }} </title>
    {% else %}
        <title> CaptionIt! </title>
    {% endif %}
</head>
    {% block content %}
    {% endblock content %}
</html>